* {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
}

.index {
  width: 100vw;
  position: relative;
}

.navbar {
  flex-wrap: wrap;
  width: 100%;
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}
.navbar .nav {
  margin-bottom: 20px;
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .navbar .nav {
    width: 100%;
    padding: 0px 10px;
  }
}
.navbar .nav span {
  position: absolute;
  right: -1px;
  top: 5px;
  display: none;
}
@media screen and (max-width: 700px) {
  .navbar .nav span {
    display: block;
  }
}
.navbar .nav .logo h2 {
  margin-top: 7px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.navbar .nav .scrol {
  width: 44%;
}
@media screen and (max-width: 700px) {
  .navbar .nav .scrol {
    width: 100%;
    margin-top: 20px;
  }
  .navbar .nav .scrol p {
    display: none;
  }
}
.navbar .nav .scrol form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .navbar .nav .scrol form {
    justify-content: center;
  }
}
.navbar .nav .scrol form input {
  padding: 8px;
  width: 70%;
}
.navbar .nav .scrol form button {
  padding: 10px 26px;
  background-color: #3e7850;
  color: #ffffff;
  border: none;
}
.navbar .nav .scrol p {
  color: #d0d0d0;
}
@media screen and (max-width: 700px) {
  .navbar .nav .contacts {
    display: none;
  }
}
.navbar .nav .contacts :nth-child(1) {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: #898989;
}
.navbar .nav .contacts :nth-child(2) {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 5px 0px;
}
.navbar .nav .contacts :nth-child(3) {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
  color: #252525;
}
.navbar .menu {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  border: 1px solid #e5e5e5;
}
@media screen and (max-width: 700px) {
  .navbar .menu {
    display: none;
  }
}
.navbar .menu a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  left: 147px;
  margin-right: 40px;
  text-decoration: none;
  color: #8f8989;
  padding: 18px 14px 18px;
}
.navbar .menu :nth-child(1) {
  color: #0a8024;
  border-bottom: #0a8024 3px solid;
}
.navbar .scrol form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .navbar .scrol form {
    justify-content: center;
  }
}
.navbar .scrol form input {
  padding: 8px;
  width: 100%;
}
.navbar .scrol form button {
  padding: 10px 26px;
  background-color: #3e7850;
  color: #ffffff;
  border: none;
}
.navbar .scrol p {
  color: #d0d0d0;
}

.slayd {
  width: 100%;
  background-image: url(/Vector.png);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.slayd .s1 {
  width: 481px;
  height: 264px;
  color: #000;
}
.slayd .s1 h1:nth-child(1) {
  color: #3e7850;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.slayd .s1 :nth-child(2) {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.slayd .s1 p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  margin-bottom: 38px;
}
.slayd .s1 a {
  text-decoration: none;
}

.contener1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #f7f7f7;
}
.contener1 .img {
  width: 80%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .contener1 .img {
    justify-content: center;
  }
}
.contener1 .img .img1 {
  height: 330px;
  width: 255px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0509803922);
  margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
  .contener1 .img .img1 {
    margin-right: 30px;
  }
}
.contener1 .img .img1 h3 {
  margin-left: 20px;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.contener1 .img .img1 img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.contener1 .img :nth-of-type(2) h3 {
  color: #0a8024;
}
.contener1 h1 {
  margin-top: 50px;
  width: 22%;
  height: 30px;
  margin-bottom: 79px;
  text-align: center;
}
.contener1 h1 img {
  margin-top: 8px;
}

.contener2 {
  width: 100%;
  height: 419px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .contener2 {
    height: auto;
  }
}
.contener2 .item {
  width: 80%;
  display: flex;
}
@media screen and (max-width: 900px) {
  .contener2 .item {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .contener2 .item {
    width: 100%;
  }
}
.contener2 .item .it {
  width: 231px;
  text-align: center;
  margin-left: 15px;
}
.contener2 .item .it h3 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin: 17px;
  font-style: normal;
}

.contener3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .contener3 {
    flex-wrap: wrap;
  }
}
.contener3 .cont {
  margin-top: 57px;
  margin-left: 15px;
  height: 317px;
  width: 339px;
}
.contener3 .cont h1 {
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.contener3 .cont h1 img {
  margin-top: 10px;
}
.contener3 .cont h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.contener3 .cont p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.contener3 .cont span {
  display: block;
  margin-bottom: 25px;
}
.contener3 .form {
  height: 435px;
  width: 485px;
  margin: 100px 0px;
  margin-right: 15px;
}/*# sourceMappingURL=stayle.css.map */